#terraform files
infrastructure/.terraform\providers/registry.terraform.io/hashicorp/
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup

#gcp key
gcp_service_account_key.json
telegram-bot/gcp_service_account_key.json

#telegram-bot
telegram-bot/bot-env/

#other
to_do.txt
.env